@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;1,700&display=swap");

:root {
  --black: #2b2839;
  --purple-pale: #f1edf8;
  --green-pale: #eef6f0;
  --peach-pale-transparent: rgba(242, 192, 156, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  background-color: var(--purple-pale);
  line-height: 1.4;

  .container {
    padding: 55px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    min-height: 475px;
    background-color: var(--green-pale);
    border: 10px solid var(--peach-pale-transparent);
    border-radius: 15px;
    text-align: center;

    h1 {
      font-size: 38px;
      max-width: 245px;
      margin: 40px auto;
      text-align: center;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
    }

    .btn {
      padding: 14px 36px;
      font-size: 24px;
    }
  }
}
